body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 background-color: #333;

}
.flex{
    display: flex;
}
/*
*{   border: solid 1px red;}*/


.encabezadoPagina{
    color: whitesmoke;
}

#formulario{
    background-color: whitesmoke;
    margin: auto;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;

   width: 600px;
    height: auto;
}

.encabezadoForm{
    background-color:rgb(223, 222, 222);
    width: 100%;
    height: 30px;
    border-top-right-radius: 1em;
    font-weight: bolder;
    
}

.buscarForm{
    display: flex;
    width: 95%;
    height: 25px;
    padding: 20px;

}
 
    .inputBuscar{
        margin-left: 2em;
        margin-right: 2em;
        height: 22px;
        width: 160px;
        border: 2px solid dodgerblue;
        border-radius: .35em;
        background: transparent;
        z-index: 2;

    }

    .inputBuscar:focus{
        outline: none;
    }

        .inputBuscar:focus ~ .labelBuscarId{

            transform: translate(-40px, -18px);
            z-index: 3;
            transition: all 0.35s;
            color: dodgerblue;

        }
    
    .labelBuscarId{
        position:absolute;
        margin-left: 80px;

        background-color: whitesmoke;
        z-index: 1;
        color: rgb(124, 124, 124);
        
    }

.resultadoForm{
    
    width: 100%;
    height: auto;

    padding: 5px;

}

    .lblResultados {
        width: 200px;
    }

    .lblDomicilio{
        width: 85px;
    }

    .inputDomicilio{
        height: 20px;
        width: 270px;
        margin-bottom: 19px;
    }

    .inputResultados{
        height: 20px;
        width: 356px;
    }

    .divInputs{
        width: auto;
       margin-top: 19px;
    }




/*BOTON SARRISIMO*/

.btnBuscar{
    border: none;
    background-color: dodgerblue;
    border-radius: 0.2em;
    color: #fff;
    font-size: 15px;
    font-weight: bolder;
    height: 35px;
    margin-right: 1em;

}

.btnBuscar:hover{
    cursor: pointer;
    background-color: rgb(0, 126, 252);
    transition: all 0.35s;


}
